@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'highlight.js/styles/tomorrow-night-bright.css';

html {
  @apply bg-contain;
  border: none;
}

body {
  @apply bg-nightsky bg-contain bg-repeat flex flex-col items-center h-screen pt-2.5 leading-tight overflow-auto; 
  font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;
}

body input[type="text"],
body input[type="number"],
body input[type="email"],
body input[type="tel"],
body input[type="password"] {
  font-size: 16px;
}

[data-theme='computer'] body {
  @apply bg-piggy;
}

[data-theme='robotics'] body {
  @apply bg-pcb;
}

[data-theme='travel'] body {
  background-image: none;
  background-color: rgb(38, 52, 66);
}

[data-theme='other'] body {
  @apply bg-nightsky;
}

[data-theme='food'] body {
  @apply bg-food-bodyBackgroundColor bg-repeat;
  background-image: none;
}

[data-theme='photography'] body {
  @apply bg-nightsky;
}

[data-theme='music'] body {
  @apply bg-nightsky;
}

h2 {
  @apply text-2xl font-bold text-center;
}

nav {
  @apply w-full flex flex-row items-center gap-5 content-center;
}

button {
  @apply bg-[#1a3a56] rounded p-4 text-white;
}

button:hover {
  @apply bg-[#0c1c2a];
}

.blog-header {
  @apply w-[90vw] h-[10vh] bg-[rgba(8,51,82,0.85)] rounded mb-2.5 border-none border-[rgba(201,200,200,0.65)] flex flex-row text-[rgb(212,207,187)] p-5 items-center justify-center;
}

[data-theme='computer'] .blog-header {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-computer-headerBGColor text-computer-headerTextColor border-computer-headerBorderColor;
}

[data-theme='robotics'] .blog-header {
  @apply bg-robotics-headerBGColor text-robotics-headerTextColor border-robotics-headerBorderColor;
}

[data-theme='travel'] .blog-header {
  @apply bg-travel-headerBGColor text-travel-headerTextColor border-travel-headerBorderColor;
}

[data-theme='other'] .blog-header {
  @apply bg-other-headerBGColor text-other-headerTextColor border-other-headerBorderColor;
}

[data-theme='food'] .blog-header {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-food-headerBGColor text-food-headerTextColor border-food-headerBorderColor;
}

[data-theme='photography'] .blog-header {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-photography-headerBGColor text-photography-headerTextColor border-photography-headerBorderColor;
}

[data-theme='music'] .blog-header {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-music-headerBGColor text-music-headerTextColor border-music-headerBorderColor;
}

.about-link {
  @apply text-base font-bold items-center basis-1/6 text-left;
}

.about-link :hover {
  @apply text-yellow-500;
}

.new-blog-link {
  @apply text-xs items-center basis-1/6 text-center;
}

.button-style a {
  @apply bg-[rgba(159,147,147,0.098)] border-none p-2 py-3 rounded-sm cursor-pointer shadow-[1px_2px_rgba(58,58,46,0.623)];
}

.button-style a:hover {
  @apply bg-[rgba(170,156,36,0.213)];
}

.button-style a:active {
  @apply bg-[rgba(104,95,15,0.405)] shadow-[1px_2px_rgba(37,37,28,0.572)];
}

.page-title {
  @apply text-2xl font-bold basis-2/6 items-center text-center;
}

.mobile-search,
.mobile-menu {
  display: none;
}

.mobile-menu {
  @apply relative;
}

.mobile-menu-icon {
  @apply cursor-pointer;
}

.mobile-menu-overlay {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-90 flex justify-center pt-16 z-50;
}

.mobile-menu-list {
  @apply flex flex-col items-center w-full text-white;
}

.mobile-menu-item {
  @apply my-4 text-xl w-full text-center cursor-pointer transition-colors duration-300;
}

.mobile-menu-item :hover {
  @apply text-yellow-500;
}

.all-blogs-link {
  @apply text-xs items-center basis-1/6 text-center;
}

.user-link {
  @apply text-base font-bold items-center basis-1/6 text-right;
}

.containero {
  @apply w-[90vw] bg-[rgba(250,234,214,0.85)] border-none border-[rgba(0,0,0,0.35)] flex rounded justify-center;
  min-height: min-content;
}

[data-theme='computer'] .containero {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-computer-containerBGColor text-computer-containerTextColor border-computer-containerBorderColor;
}

[data-theme='robotics'] .containero {
  @apply bg-robotics-containerBGColor text-robotics-containerTextColor border-robotics-containerBorderColor;
}

[data-theme='travel'] .containero {
  @apply bg-travel-containerBGColor text-travel-containerTextColor border-travel-containerBorderColor;
}

[data-theme='other'] .containero {
  @apply bg-other-containerBGColor text-other-containerTextColor border-other-containerBorderColor;
}

[data-theme='food'] .containero {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-food-containerBGColor text-food-containerTextColor border-food-containerBorderColor;
}

[data-theme='photography'] .containero {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-photography-containerBGColor text-photography-containerTextColor border-photography-containerBorderColor;
}

[data-theme='music'] .containero {
  border: 1px solid;
  @media (max-width: 768px) {border: none}
  @apply bg-music-containerBGColor text-music-containerTextColor border-music-containerBorderColor;
}

.about {
  @apply px-40 py-2 flex flex-col items-center gap-5 justify-center;
}

.about a {
  @apply bg-[rgba(251,150,67,0.848)] text-black px-[3px] rounded-[2px];
}

.version {
  @apply pt-2 items-center justify-center;
}

.loadingerror,
.loadingfallback {
  @apply flex flex-col gap-4 items-center justify-center pt-8 text-center;
}

.signinmessage {
  @apply flex w-full text-center items-center justify-center text-gray-500;
}

.signin-wrapper {
  @apply w-full h-full flex items-center justify-center gap-5 p-12 px-72;
}

.signin-item {
  @apply flex-1 flex flex-col items-center gap-5 justify-center;
}

.signin-button {
  cursor: pointer;
}


.signin-item form {
  @apply flex flex-col items-center justify-center gap-5 w-3/4;

}

.signin-item input {
  @apply p-5 border-none outline-none bg-[rgba(17,25,40,0.6)] text-white rounded w-full;
}

.signin-item label {
  @apply w-full flex items-center gap-5 cursor-pointer underline;

}

.signin-item img {
  @apply w-12 h-12 rounded object-contain;
}

.signin-item button {
  @apply w-full p-5 border-none bg-[#0e3b63] text-white rounded cursor-pointer font-medium text-center;

}

.signin-item button:disabled {
  @apply cursor-not-allowed bg-[#1f8ff19c];

  &:hover {
    @apply bg-[#1f8ff19c];
  }
}

.signin-item button:hover {
  @apply bg-[#071d31];
}

.signout-button {
  @apply w-3/4 flex justify-center;
}

.signout-button button {
  @apply bg-red-500 p-5 rounded w-full;
}

.signout-button button:hover {
  @apply bg-red-600;
}



.change-username-button {
  @apply w-3/4 flex justify-center;
}

.change-username-button button {
  @apply p-5 border-none bg-[#1a3a56] text-white rounded cursor-pointer font-medium w-full;

}

.change-username-button button:hover {
  @apply bg-[#0c1c2a];
}

.change-username-button button:disabled {
  @apply cursor-not-allowed bg-[#1f8ff19c];
}

.user-manager {
  @apply flex flex-col w-full text-base items-center;
}

.user-info {
  @apply basis-1/2 flex flex-col gap-5 p-2.5 items-center;

}

.change-avatar {
  @apply flex w-full items-center justify-center gap-16;

}

.change-avatar label {
  @apply basis-2/3 flex items-center cursor-pointer underline gap-5 pr-4;
}

.change-avatar img {
  @apply w-20 h-20 rounded object-contain;
}


.user-manager-action {
  @apply flex flex-col gap-5 w-3/4 p-2.5 pt-24 px-24 basis-1/2 text-base justify-center items-center;
}

.changepassword,
.changemail,
.changeusername,
.change-avatar,
.new-user-info {
  @apply flex rounded gap-2.5;
}

.changepassword,
.changemail,
.changeusername,
.change-avatar,
.new-user-info p {
  @apply flex-1 text-xl justify-center text-center;
}

.changepassword,
.changemail,
.changeusername,
.change-avatar,
.new-user-info input {
  @apply flex-1 bg-transparent text-base rounded border-none pl-5;
}


.newblog {
  @apply basis-3/4 flex flex-col items-center w-full p-6 px-8;
  border-left: 1px solid rgba(0,0,0,0.15);
  border-right: 1px solid rgba(0,0,0,0.15);
}

.newblog form {
  @apply w-full;
}

.new-blog-item {
  @apply w-full flex justify-center items-center p-2.5;
}

.new-blog-item label {
  @apply flex basis-1/6;
}

.new-blog-item input {
  @apply basis-5/6 p-2.5 rounded w-full text-xs;
  background-color: rgba(255,255,224,0.456);
  border: 2px solid;
  /* Make sure to define border style */
  border-color: grey darkgrey darkgrey grey;
}

.new-blog-item select {
  @apply basis-5/6 p-2.5;
  background-color: rgba(255,255,224,0.456);
  border: 2px solid;
  border-color: grey darkgrey darkgrey grey;
}

.new-blog-content {
  @apply flex flex-col /*h-72*/;

}

.new-blog-content textarea {
  @apply h-full p-2.5 rounded w-full;
  font-size: 16px;
  resize: vertical;
  border-radius: 10px;
  background-color: rgba(255,255,224,0.456);
  border: 2px solid;
  /* Make sure to define border style */
  border-color: grey darkgrey darkgrey grey;
}

.settopic {
  @apply flex;
}


.new-blog-buttons {
  @apply flex items-center justify-center gap-4 p-5;
}

.new-blog-buttons button {
  @apply p-2.5 rounded-xl text-black;
  border: 2px solid;
  border-color: lightgrey darkgrey darkgrey lightgrey;
  background-color: rgba(192,192,192,0.6);
}

.new-blog-buttons button:active {
  background-color: rgba(164,163,163,0.674);
  border-color: darkgrey lightgrey lightgrey darkgrey;
}


.new-blog-options {}

.new-blog-options-buttons {
  @apply basis-5/6 flex p-1;
}

.new-blog-options-buttons button {
  @apply p-1.5 rounded-xl m-2.5 text-black;
  border: 2px solid;
  background-color: rgba(255,0,0,0.475);
  border-color: rgb(203,99,99) rgb(161,35,35) rgb(161,35,35) rgb(203,99,99);
}

.new-blog-options-buttons button:active {
  background-color: rgba(137,15,15,0.735);
  border-color: rgb(161,35,35) rgb(203,99,99) rgb(203,99,99) rgb(161,35,35);
}

.publicblog button,
.disablecomments button {
  background-color: rgba(0,255,0,0.475);
  border-color: rgb(99,203,99) rgb(35,161,35) rgb(35,161,35) rgb(99,203,99);
}

.disablecomments button:active,
.publicblog button:active {
  background-color: rgba(15,137,15,0.735);
  border-color: rgb(35,161,35) rgb(99,203,99) rgb(99,203,99) rgb(35,161,35);
}


.uploaders {
  @apply basis-1/4 flex flex-col;
  overflow-x: auto;
}

.upload-separator {
  @apply w-full border-t border-solid border-[rgba(0,0,0,0.2)];
}

.uploader-title h3 {
  @apply font-bold;
}

.fileUpload {
  @apply flex flex-col gap-4 pt-4 p-3;
}



/* For uploaded files */
.uploaded-files-container {
  margin: 10px 0;
  overflow-y: auto;
}

.server-file-list {
  @apply flex flex-col gap-1;
}

.server-file-item {
  @apply px-2 py-1;
  width: 100%; /* Respect the width of the parent container */
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  align-items: flex-start;
}

.copied-message {
  font-size: 0.8rem; /* Adjust size for readability */
  color: green; /* Make it visually distinct */
  margin-top: 5px; /* Add some space between the filename and the message */
}

.pictureUpload {
  @apply p-3;
}

.uploadPicturesContainer {
  @apply flex flex-col gap-4;

  .dropzone {
    @apply w-full h-36 flex justify-center items-center cursor-pointer relative text-center rounded;
    border: 2px dashed #aaa;
    color: #aaa;
    transition: background-color 0.3s ease;
  }

  .dropzone.dragging {
    background-color: #e0f7fa;
    color: #00796b;
    border-color: #00796b;
  }

  .preview-container {
    @apply flex gap-2 mt-2.5;
    flex-wrap: wrap;
  }

  .file-preview-container {
    @apply mt-2.5;
  }

  .preview-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }

  button {
    /* background-color: transparent; */
    /* border: 1px solid rgba(69,69,234,0.751); */
    padding: 5px;
    color: rgb(0,0,0);
    border-radius: 3px;
    border: 2px solid;
    cursor: pointer;

    background-color: rgba(61,221,202,0.544);
    border-color: rgba(61,221,202,0.755) rgba(81,189,177,0.625) rgba(81,189,177,0.625) rgba(61,221,202,0.755);

    &:hover {
      background-color: rgba(61,221,202,0.393);
    }

    &:active {
      background-color: rgba(42,134,123,0.544);
      border-color: rgba(81,189,177,0.625) rgba(61,221,202,0.755) rgba(61,221,202,0.755) rgba(81,189,177,0.625);
    }
  }

  .server-image {
    width: 60%;
    max-width: 100%;
    /* Ensure the image doesn't overflow */
    margin: 0 auto;
    /* Centre the image horizontally */
    display: block;
    /* Block-level element for centring */
  }

  .uploaded-images-container {
    padding: 10px 0;
    width: 100%;
  }

  .server-image-list {
    @apply flex flex-col items-center justify-center w-full text-center gap-1;
  }
}

.big-search {
  @apply flex w-full flex-col items-center p-2 gap-4;
}

.big-search-input {
  @apply flex flex-1 items-center bg-[rgba(17,25,40,0.5)] rounded-[10px] p-[7px] overflow-auto w-1/2;
}

.big-search-input input {
  @apply text-xs bg-transparent border-none outline-none text-white flex-1 pl-[5px];
}

.big-search-input img {
  @apply w-[20px] h-[20px];
}

.big-search-results {
  @apply flex w-full items-center;
}

.big-search-results table {
  @apply w-full p-[5px] border-separate;
  border-spacing: 1px 4px;
}

.big-search-results th,
.big-search-results td {
  @apply rounded-sm p-[3px] text-left;
}

.big-search-results th {
  @apply relative cursor-pointer pr-[10px];
}

.big-search-item {
  @apply gap-[20px] m-[2px_20px] cursor-pointer border border-solid rounded-[5px] flex-col p-[1px_5px];
}

.big-search-item p {
  @apply inline;
}

.travel-item {
  @apply bg-[rgba(0,128,0,0.323)] border-[rgba(1,98,1,0.641)];
}

.travel-item:hover {
  @apply bg-[rgba(0,101,0,0.852)];
}

.other-item {
  @apply bg-[rgba(210,105,30,0.363)] border-[rgba(151,71,14,0.775)];
}

.other-item:hover {
  @apply bg-[rgba(174,79,11,0.866)];
}

.photography-item {
  @apply bg-[rgba(107,107,107,0.662)] border-[rgba(137,135,135,0.662)];
}

.photography-item:hover {
  @apply bg-[rgba(28,28,28,0.756)];
}

.music-item {
  @apply bg-[rgba(60,60,215,0.389)] border-[rgba(26,26,173,0.745)];
}

.music-item:hover {
  @apply bg-[rgba(31,31,210,0.854)];
}

.computer-item {
  @apply bg-[rgba(0,255,255,0.222)] border-[rgba(26,169,169,0.666)];
}

.computer-item:hover {
  @apply bg-[rgba(1,200,200,0.792)];
}

.food-item {
  @apply bg-[rgba(255,0,0,0.184)] border-[rgba(151,5,5,0.471)];
}

.food-item:hover {
  @apply bg-[rgba(189,1,1,0.561)];
}

.robotics-item {
  @apply bg-[rgba(192,192,192,0.43)] border-[rgb(99,94,94)];
}

.robotics-item:hover {
  @apply bg-[rgb(93,92,92)];
}

.not-public-item td {
  @apply border-dashed border-[1px] border-[rgba(255,73,12,0.674)] box-border;
}

.blog-view {
  @apply flex flex-row w-full items-center justify-center p-0;
}

.side-search {
  @apply flex flex-col h-full overflow-scroll;
  flex: 1;
}

.blog-wrapper {
  @apply flex flex-col gap-2.5 p-1.5 px-8 h-full;
  @apply border-l border-r border-solid border-[rgba(0,0,0,0.15)];
  flex: 3;
  hyphens: auto;
}

.blog-title {
  @apply flex gap-[20px] w-full items-center px-4 pb-[8px];
  @apply border-b-[2px] border-solid border-[rgba(131,130,130,0.312)];
  /* border-bottom: 2px solid rgba(131,130,130,0.312); */
}

.blog-title h2 {
  text-shadow: 3px 2px 5px rgba(133,133,133,0.772);
}

.blog-title span {
  color: rgba(255,73,12,0.92);
  text-shadow: 3px 1px 4px rgba(0,0,0,0.232);
}

.blog-details {
  @apply flex flex-col h-full gap-[10px] p-[5px];
  flex: 1;
}

.blog-details h3 {
  @apply text-base bg-[rgba(168,167,167,0.488)] p-[2px] pl-[5px] rounded-[3px] font-light;
}

.blog-details p {
  @apply pl-[5px] p-[2px] mt-[2px] rounded-[3px];
}

.detail-author-info {
  @apply flex items-center p-[2px] pl-[5px] rounded-[3px] mt-[2px] gap-[5px];
}

.detail-author-info img {
  @apply w-[30px] h-[30px] rounded-full object-cover;
}

.detail-topico {
  @apply flex p-[2px];
}

.detail-topico p {
  @apply p-[2px_5px];
}

.detail-travel {
  @apply bg-[rgba(0,128,0,0.323)] border-[rgba(1,98,1,0.641)];
}

.detail-other {
  @apply bg-[rgba(210,105,30,0.363)] border-[rgba(151,71,14,0.775)];
}

.detail-photography {
  @apply bg-[rgba(107,107,107,0.662)] border-[rgba(137,135,135,0.662)];
}

.detail-music {
  @apply bg-[rgba(60,60,215,0.389)] border-[rgba(26,26,173,0.745)];
}

.detail-computer {
  @apply bg-[rgba(0,255,255,0.222)] border-[rgba(26,169,169,0.666)];
}

.detail-food {
  @apply bg-[rgba(255,0,0,0.184)] border-[rgba(151,5,5,0.471)];
}

.detail-robotics {
  @apply bg-[rgba(192,192,192,0.43)] border-[rgb(99,94,94)];
}

.detail-item {
  @apply pb-[10px];
}

.detail-author button {
  @apply ml-[5px] bg-transparent border-none;
}

.manage-buttons {
  @apply flex gap-[10px];
}

.manage-buttons button {
  @apply text-xs bg-[rgba(221,106,61,0.841)] p-[5px] text-black rounded-[5px];
  @apply border-[2px] border-solid;
  @apply border-t-[rgb(248,168,110)] border-r-[rgb(222,112,33)] border-b-[rgb(222,112,33)] border-l-[rgb(248,168,110)];
  cursor: pointer;
}

.manage-buttons button:hover {
  @apply bg-[rgba(221,106,61,0.639)];
}

.manage-buttons button:active {
  @apply bg-[rgba(142,54,20,0.667)];
  @apply border-t-[rgb(222,112,33)] border-r-[rgb(248,168,110)] border-b-[rgb(248,168,110)] border-l-[rgb(222,112,33)];
}

.edit-blog-button button {
  @apply bg-[rgba(61,221,202,0.544)];
  @apply border-t-[rgba(61,221,202,0.755)] border-r-[rgba(81,189,177,0.625)] border-b-[rgba(81,189,177,0.625)] border-l-[rgba(61,221,202,0.755)];
}

.edit-blog-button button:hover {
  @apply bg-[rgba(61,221,202,0.393)];
}

.edit-blog-button button:active {
  @apply bg-[rgba(42,134,123,0.544)];
  @apply border-t-[rgba(81,189,177,0.625)] border-r-[rgba(61,221,202,0.755)] border-b-[rgba(61,221,202,0.755)] border-l-[rgba(81,189,177,0.625)];
}

.comments {
  @apply flex flex-col w-full items-center p-[10px] mb-[10px];
  @apply border-t border-solid border-[rgba(0,0,0,0.347)];
  @apply bg-[rgba(245,245,220,0.654)] rounded-[10px] text-black;
}

.all-comments {
  @apply w-full;
}

.comments-header {
  @apply flex pb-[10px] w-full items-center justify-between relative cursor-pointer;
}

.comments-header h2 {
  @apply text-base underline text-center flex-grow;
}

.comments-header span {
  @apply absolute right-0 text-[rgba(0,0,0,0.691)] rounded-full;
  @apply p-[3px] px-[8px] cursor-pointer bg-transparent;
}

.comment-container {
  @apply flex flex-col p-[10px] text-left w-full;
  @apply border-b border-solid border-[rgba(0,0,0,0.108)];
}

.comment-user {
  @apply flex items-center justify-between;
}

.comment-user h3 {
  @apply text-base font-bold pr-[20px];
}

.comment-user span {
  @apply text-sm text-[rgba(0,0,0,0.548)];
}

.comment-user p {
  @apply text-left;
}

.new-comment {
  @apply flex w-full p-[10px] gap-[20px];
}

.new-comment form {
  @apply flex w-full gap-[20px];
}

.comment-input-text {
  @apply flex w-full;
  flex: 4;
}

.comment-input-text textarea {
  @apply bg-transparent bg-[rgba(17,25,40,0.6)] text-white rounded-[5px];
  @apply border-none p-[10px] pl-[20px] w-full;
}

.namei {
  @apply flex;
  flex: 1;
}

.namei input {
  @apply bg-transparent bg-[rgba(17,25,40,0.6)] text-white rounded-[5px];
  @apply border-none p-[10px] pl-[20px] w-full;
}

.comment-submit-button {
  @apply flex justify-end items-center ml-auto w-full;
  flex: 1;
}

.comment-submit-button button {
  @apply p-[10px] border-none rounded-[5px] cursor-pointer;
  @apply bg-[#1a3a56] text-white w-full;
}

.comment-submit-button button:disabled {
  @apply cursor-not-allowed bg-[#1f8ff19c];
}

.comment-submit-button button:disabled:hover {
  @apply bg-[#1f8ff19c];
}

.comment-submit-button button:hover {
  @apply bg-[#0c1c2a];
}

.blog-content {
  @apply px-4 overflow-scroll w-full;
}

.blog-content p,
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content li,
.blog-content a,
.blog-content ol,
.blog-content ul,
.blog-content span {
  font-family: 'Segoe UI',Tahoma,Geneva,Verdana,sans-serif;
}

.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4 {
  @apply mt-[15px] text-left;
}

.blog-content h1 {
  @apply text-xl mb-[14px] font-medium;
}

.blog-content h2 {
  @apply text-lg mb-[9px] font-semibold;
}

.blog-content h3 {
  @apply text-base mb-[7px] font-semibold;
}

.blog-content h4 {
  @apply text-sm mb-[7px] font-semibold;
}

.blog-content ol,
.blog-content ul {
  @apply mb-[16px];
}

.blog-content ol {
  list-style-type: decimal;
}

.blog-content ul {
  /* @apply ml-[20px]; */
  list-style-type: square;
}

.blog-content li {
  @apply ml-[25px] mb-[3px];
}

.blog-content p {
  @apply mb-[10px];
}

.blog-content img {
  @apply w-full;
}

.blog-content a {
  @apply bg-[rgba(251,150,67,0.848)] text-black px-[3px] rounded-[2px];
}

.blog-content blockquote {
  @apply rounded-sm p-[12px] pl-[10px] my-[10px];
  background-color: rgba(197,142,94,0.431);
  border-left: solid 8px rgba(0,0,0,0.092);
}

.blog-content table {
  @apply p-[1px] border-separate border-none;
  width: auto;
  border-spacing: 1px 3px;
}

.blog-content table th,
.blog-content table td {
  @apply p-[2px] text-left bg-[rgba(151,149,149,0.61)];
  border-radius: 1px;
}

.blog-content table th {
  @apply relative cursor-pointer pr-[10px] bg-[rgba(73,73,73,0.808)];
}

.blog-content table th::after {
  content: "";
  @apply absolute right-[5px];
}

.blog-content pre {
  @apply rounded-xl text-sm my-[10px];
  background-color: rgba(147,147,147,0.356);
  /* border: solid 1px rgba(72,72,72,0.787); */
}

.hljs {
  @apply rounded-xl;
  background-color: rgba(0, 2, 26, 0.653);
  border-left: 10px solid black;
}

[data-theme='robotics'] .hljs {
  background-color: rgb(0 16 206 / 38%);
}

pre {
  position: relative;
  /*padding: 10px; /* add some padding to create space for the button */
}

.copy-button {
  @apply rounded-xl p-2 bg-black text-xs;
  padding-top: 1px;
  padding-bottom: 1px;
  color: rgba(255, 255, 255, 0.69);
  border: solid rgba(255, 255, 255, 0.69) 0.5px;
  position: absolute;
  top: 2px; /* adjust the top position to match the padding */
  right: 6px; /* adjust the right position to match the padding */
  z-index: 1; /* add a z-index to ensure the button is on top of the code */
}

pre code.hljs {
  @apply p-2;
}

.blog-list {
  flex: 1;
  overflow: scroll;
}

.blog-list .blog-list-search {
  @apply p-[12px] gap-[20px] flex items-center;
}

.blog-list .blog-list-searchbar {
  @apply flex items-center w-full p-[6px] bg-[rgba(17,25,40,0.5)] rounded-[10px] overflow-auto;
}

.blog-list .blog-list-searchbar input {
  @apply text-xs bg-transparent border-none outline-none text-white pl-[5px];
}

.blog-list .blog-list-searchbar img {
  @apply w-[20px] h-[20px];
}

.blog-list .blog-list-item {
  @apply flex flex-col mx-[12px] my-[2px] cursor-pointer gap-[20px] border rounded-[5px];
  @apply p-[1px_5px] overflow-x-auto;
  box-sizing: border-box !important;
}

.blog-list .blog-list-item p {
  display: inline;
}

.blog-list .blog-list-travel {
  @apply bg-[rgba(0,128,0,0.323)] border-[rgba(1,98,1,0.641)];
}

.blog-list .blog-list-travel:hover {
  @apply bg-[rgba(0,101,0,0.852)];
}

.blog-list .blog-list-other {
  @apply bg-[rgba(210,105,30,0.363)] border-[rgba(151,71,14,0.775)];
}

.blog-list .blog-list-other:hover {
  @apply bg-[rgba(174,79,11,0.866)];
}

.blog-list .blog-list-photography {
  @apply bg-[rgba(107,107,107,0.662)] border-[rgba(137,135,135,0.662)];
}

.blog-list .blog-list-photography:hover {
  @apply bg-[rgba(28,28,28,0.756)];
}

.blog-list .blog-list-music {
  @apply bg-[rgba(60,60,215,0.389)] border-[rgba(26,26,173,0.745)];
}

.blog-list .blog-list-music:hover {
  @apply bg-[rgba(31,31,210,0.854)];
}

.blog-list .blog-list-computer {
  @apply bg-[rgba(0,255,255,0.222)] border-[rgba(26,169,169,0.666)];
}

.blog-list .blog-list-computer:hover {
  @apply bg-[rgba(1,200,200,0.792)];
}

.blog-list .blog-list-food {
  @apply bg-[rgba(255,0,0,0.184)] border-[rgba(151,5,5,0.471)];
}

.blog-list .blog-list-food:hover {
  @apply bg-[rgba(189,1,1,0.561)];
}

.blog-list .blog-list-robotics {
  @apply bg-[rgba(192,192,192,0.43)] border-gray-500;
}

.blog-list .blog-list-robotics:hover {
  @apply bg-gray-600;
}

.blog-list .notpublic {
  @apply border-dashed border-[rgba(255,73,12,0.674)];
  box-sizing: border-box;
}

.blog-list .topic-filter {
  flex: 1;
  @apply flex flex-col px-[20px] pt-[5px] w-full;
}

.blog-list .topic-filter h3 {
  @apply text-xs;
}

.blog-list .topic-filter span {
  @apply text-sm;
}

.blog-list .topic-filter .topic {
  @apply rounded-[5px] p-[2px] cursor-pointer my-[1px];
}

.blog-list .topic-filter .selected {
  @apply border-[3px] border-[rgba(29,29,29,0.748)];
}

.blog-list .topic-filter .phototopic {
  @apply bg-[rgba(107,107,107,0.662)];
}

.blog-list .topic-filter .phototopic:hover {
  @apply bg-[rgba(28,28,28,0.756)];
}

.blog-list .topic-filter .musictopic {
  @apply bg-[rgba(60,60,215,0.745)];
}

.blog-list .topic-filter .musictopic:hover {
  @apply bg-[rgba(31,31,210,0.854)];
}

.blog-list .topic-filter .computertopic {
  @apply bg-[rgba(0,255,255,0.544)];
}

.blog-list .topic-filter .computertopic:hover {
  @apply bg-[rgba(1,200,200,0.792)];
}

.blog-list .topic-filter .foodtopic {
  @apply bg-[rgba(255,0,0,0.401)];
}

.blog-list .topic-filter .foodtopic:hover {
  @apply bg-[rgba(189,1,1,0.561)];
}

.blog-list .topic-filter .roboticstopic {
  @apply bg-[#bcbbbb];
}

.blog-list .topic-filter .roboticstopic:hover {
  @apply bg-gray-600;
}

.blog-list .topic-filter .traveltopic {
  @apply bg-[rgba(0,128,0,0.584)];
}

.blog-list .topic-filter .traveltopic:hover {
  @apply bg-[rgba(0,101,0,0.852)];
}

.blog-list .topic-filter .othertopic {
  @apply bg-[rgba(210,105,30,0.775)];
}

.blog-list .topic-filter .othertopic:hover {
  @apply bg-[rgba(174,79,11,0.866)];
}

.blog-list-topic {
  @apply rounded-[5px] p-[2px] cursor-pointer my-[1px];
}


.signin-submit-button {
  @apply items-center gap-2 cursor-pointer w-3/4;
  justify-content: right;
}

.signin-submit-button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.signin-submit-button :hover {
  @apply text-yellow-500;
}

.user-button {
  @apply p-0 flex items-center cursor-pointer w-full gap-2;
  flex: 1;
  justify-content: right;
}

.user-button a {
  @apply w-full;
}

.user-button img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.user-button span {
  @apply text-base;
}

/* ==================================== */
/* ========  responsive part  ========= */
/* ==================================== */

@media (max-width: 768px) {

  body {
    @apply bg-nightsky bg-contain bg-repeat flex flex-col items-center h-screen pt-0 leading-tight w-full;
    font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;
  }

  .blog-header {
    @apply w-full rounded-none mb-0.5 border-none p-1.5 bg-computer-headerBGColor;
  }

  nav {
    @apply flex w-full flex-row items-center gap-5 content-center justify-center;
  }

  .page-title {
    @apply text-xl font-medium basis-1/2 items-center text-center;
  }

  .about-link,
  .new-blog-link,
  .all-blogs-link,
  .user-link {
    display: none;
  }

  .mobile-search {
    @apply flex basis-1/4 text-2xl w-full justify-center items-center;
  }

  .mobile-menu {
    @apply flex basis-1/4 text-4xl w-full justify-center items-center;
  }

  .containero {
    @apply w-[99vw] border-none flex flex-col rounded-none justify-center;
  }

  .signin-submit-button,
  .user-button {
    @apply justify-center w-full;
  }

  .side-search,
  .blog-list {
    display: none;
  }

  .blog-view {
    @apply flex flex-col w-full items-center justify-center;
  }

  .blog-wrapper {
    @apply w-full flex flex-col gap-1 p-1 px-0 h-full border-none items-center;
    flex: 3;
    border-left: none;
    border-right: none;
    border: none;
    border-bottom: 1px solid rgba(131,130,130,0.312);
  }

  .blog-title {
    @apply flex gap-2 items-center px-3;
    padding-bottom: 2px;
    border-bottom: 2px solid rgba(131,130,130,0.312);
  }

  .comments {
    @apply px-1;
    width: 95%;
  }

  .new-comment {
    @apply flex w-full p-0 gap-[10px];
  }

  .new-comment form {
    @apply gap-1;
  }

  .new-comment textarea {
    @apply p-1; 
  }

  .blog-content {
    @apply py-2 px-3;
  }

  .blog-details {
    @apply w-full;
  }

  .manage-buttons {
    @apply text-2xl;
  }

  .big-search-input {
    @apply w-full p-3;
  }

  .big-search-input input {
    @apply text-base;
  }


  .about {
    @apply px-3;
  }

  .newblog {
    @apply basis-3/4 flex flex-col items-center w-full p-1 px-1;
    border-bottom: 1px solid rgba(131,130,130,0.312);

  }
  
  .newblog form {
    @apply w-full;
  }

  .new-blog-options-buttons {
    @apply basis-5/6 flex p-1 flex-col gap-1;
  }

  .new-blog-options-buttons button {
    @apply p-1 rounded-xl m-0;
  }

  .user-manager {
    @apply flex-col w-full p-4;
  }


  .change-avatar {
    padding: 10px;
    padding-left: 0px;
    padding-right: 0px;

  }

  .user-manager-action {
    padding: 0;
  }

  .changepassword {
    flex-direction: column;
    padding: 0;

    input {
      padding: 10px;
    }
  }

  .new-user-info {
    padding: 0;
    flex-direction: column;
  }

  .new-user-info input {
    padding: 10px;
  }

  .signout-button {
    @apply flex px-0 pt-3 pb-5 w-full;
  }

  .change-username-button {
    @apply w-full pt-8;
  }

  .signin-wrapper {
    @apply flex-col p-4 w-full;
  }

  .signin-item {
    @apply flex w-full;
  }

  .signin-item form {
    @apply flex flex-col w-full;
  }

  .signin-item input {
    @apply p-4;
  }

  .signin-item button {
    @apply p-4;
  }

  .big-search {
    @apply gap-1;
  }

  .big-search-item {
    @apply gap-1 w-full;
  }

  .big-search-results table {
    @apply p-0;
  }

  .big-search-results table,
  .big-search-results thead,
  .big-search-results tbody,
  .big-search-results th,
  .big-search-results td,
  .big-search-results tr {
    @apply w-full flex flex-col items-center;
  }


  .big-search-results thead tr {
    display: none;
  }

  .big-search-results tr {
    margin-bottom: 1rem;
  }

  .big-search-results td {
    @apply flex rounded flex-row text-left;
    padding: 0.5rem;
    border-bottom: 1px solid #78787814;
  }

  .big-search-results td::before {
    @apply text-xs;
    content: attr(data-label);
    font-weight: lighter;
    flex-basis: 19%;
  }

  .resulttitle {
    @apply font-bold;
  }

  .user-button span {
    @apply text-xl;
  }
}