@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  /* background-image: url('/night_sky.jpeg');
  background-size: contain;
  background-repeat: repeat; */
  @apply bg-nightsky bg-contain bg-repeat flex flex-col items-center h-screen pt-2.5 leading-tight;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
  @apply text-2xl font-bold text-center;
}

.blogheader {
  @apply 
    w-[90vw] 
    h-[10vh] 
    bg-[rgba(8,51,82,0.85)] 
    rounded
    mb-2.5
    border 
    border-[rgba(201,200,200,0.65)] 
    flex
    flex-row
    text-[rgb(212,207,187)] 
    p-5 
    items-center 
    justify-center;
}

nav {
  @apply w-full flex flex-row items-center gap-5 content-center;
}

.aboutLink {
  @apply text-base font-bold items-center basis-1/6 text-left;
}

.newBlogLink {
  @apply text-xs items-center basis-1/6 text-center;
}

.buttonStyle a {
  @apply bg-[rgba(159,147,147,0.098)] border-none p-2 py-3 rounded-sm cursor-pointer shadow-[1px_2px_rgba(58,58,46,0.623)];
}

.buttonStyle a:hover {
  @apply bg-[rgba(170,156,36,0.213)];
}

.buttonStyle a:active {
  @apply bg-[rgba(104,95,15,0.405)] shadow-[1px_2px_rgba(37,37,28,0.572)];
}

.blogTitle {
  @apply text-2xl font-bold basis-2/6 items-center text-center;
}

.allBlogsLink {
  @apply text-xs items-center basis-1/6 text-center;
}

.userLink {
  @apply text-base font-bold items-center basis-1/6 text-right;
}

.containero {
  @apply w-[90vw] bg-[rgba(250,234,214,0.85)] border border-[rgba(0,0,0,0.35)] flex rounded;

  /* height: 80vh; */

  .loadingblogs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}

.about {
  @apply px-20 py-2 flex flex-col items-center gap-5 justify-center;

  .version {
      padding-top: 10px;
      align-items: center;
      justify-content: center;
  }
}
